    <!DOCTYPE html>
    <html>
	<html lang="en">
 	 <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>Генератор паролей</title>

	    <link href="static/css/bootstrap.min.css" rel="stylesheet">
	    <link href="static/css/jumbotron.css" rel="stylesheet">

	    
  	</head>
    <body>

	    <div class = "container">
	 	<div class="jumbotron">
	      <div class="container">
	        <h1>{{password}}</h1>
	      </div>
	    </div>

	    <form method="POST" action ='/passw'>
	    <input class = "form-control" name = "length" required autocomplete="off">
	    <button type="submit" class="btn btn-primary">Сгенерировать</button>
	    </form>	
		   

	    <script src="static/js/jquery.min.js"></script>
	    <script src="static/js/bootstrap.min.js"></script>
	</div>
    </body>
    </html>